- content_for :page_title do
	= posts_title(@tag)
= render partial: 'shared/blog/head', layout: 'shared/head'
= render 'tools/shared/service_subnav'


/ HTML CODE from Service Page


/ .conversation-page
/ %h1 Listing advice

/ - @advice_posts.each do |advice_post|
/ 	.column
/ 		/ Content for the post (e.g. title, description, etc)
/ 		= render partial: 'advice_post_display', locals: {advice_post: advice_post, image_style: :thumb}
/ 		/ Voting Information
/ 		= render partial: 'voting', locals: {votable: advice_post, votable_name: 'post', vote_path_for_votable: create_votable_path_for_advice_post(advice_post)}
/ 		%p 
/ 			= link_to 'Show', advice_post
/ 			- if can? :destroy, advice_post then
/ 				= link_to 'Destroy', advice_post, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ %h1 New advice
/ - if can? :create, AdvicePost then
/ 	= render partial: 'form', locals: {advice_post: AdvicePost.new}


.post-convo-form

.post-entry.convo-entry
	.three-column-wrapper.services 
		.column.first_col
			%ul 
				%li 
					%img{:src => "https://s3.amazonaws.com/ksr/assets/000/615/232/286cdba1e9fe2a04f36fcf580da551cc_large.jpg?1369343407", :alt => ""}/ 
					%p
						%a{:href => ""}
							Ilam quis risus eget urna mollis ornare vel e odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					.bottom-action-items
						.float-left
							%a.vote-arrow.up-arrow{:href => "http://www.google.com"} .
							%a.vote-arrow.down-arrow{:href => "http://www.google.com"} . 
						.float-right
							%a{:href => ""}
								%h4 Add Thoughts
				%li.extra-chunky 
					%iframe{:frameborder => "0", :height => "360", :src => "http://www.kickstarter.com/projects/445602678/the-handleband/widget/video.html", :width => "480"}
					%p
						%a{:href => ""}
							Nullam quis risus eget urna mollis ornare vel e odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					.bottom-action-items
						.float-left
							%a.vote-arrow.up-arrow{:href => "http://www.google.com"} .
							%a.vote-arrow.down-arrow{:href => "http://www.google.com"} . 
						.float-right
							%a{:href => ""}
								%h4 Add Thoughts
		.column.second_col
			%ul 
				%li.chunky 
					%iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/68646939", :webkitallowfullscreen => "", :width => "400"}
					%p
						%a{:href => ""}
							Duis mollis, odo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel e odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					.bottom-action-items
						.float-left
							%a.vote-arrow.up-arrow{:href => "http://www.google.com"} .
							%a.vote-arrow.down-arrow{:href => "http://www.google.com"} . 
						.float-right
							%a{:href => ""}
								%h4 Add Thoughts
				%li.extra-chunky 
					%img{:src => "https://s3.amazonaws.com/ksr/assets/000/678/508/85785a111d5feb5588ea7a2d5efad960_large.jpg?1371419509", :alt => ""}/ 
					%p
						%a{:href => ""}
							Duis mo ornare vel e odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					.bottom-action-items
						.float-left
							%a.vote-arrow.up-arrow{:href => "http://www.google.com"} .
							%a.vote-arrow.down-arrow{:href => "http://www.google.com"} . 
						.float-right
							%a{:href => ""}
								%h4 Add Thoughts
		.column.third_col
			%ul 
				%li.extra-chunky.no-media
					%p
						%a{:href => ""} 
							Duis mollis, odo luctus, nisi erat porttitor ligula, eget is ornare vel e odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					.bottom-action-items
						.float-left
							%a.vote-arrow.up-arrow{:href => "http://www.google.com"} .
							%a.vote-arrow.down-arrow{:href => "http://www.google.com"} . 
						.float-right
							%a{:href => ""}
								%h4 Add Thoughts
				%li.chunky.no-media 
					%p
						%a{:href => ""}
							Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
					.bottom-action-items
						.float-left
							%a.vote-arrow.up-arrow{:href => "http://www.google.com"} .
							%a.vote-arrow.down-arrow{:href => "http://www.google.com"} . 
						.float-right
							%a{:href => ""}
								%h4 Add Thoughts