- if visible then
	- comment_class = 'discussion-entry-mini'
- else
	- comment_class = 'discussion-entry-mini dont-show'
%div{class: comment_class}
	.divider
	%br/ 
	%p= comment.body
	%h3.teal.float-right= "- #{comment.author}"