.reply-entry
	.comment-text
		.comment_title_wrapper.float-left
			%h3= comment.author
		%p= comment.body

	.comment-rating.float-left
		= render partial: 'comments/vote_on_comment', locals: {votable: comment, vote_path_for_votable: create_votable_path_for_comment(comment.commentable, comment), all_arrows: 'vote-arrow arrow-stacked up-arrow', voted_arrow: 'voted-arrow', top_arrow: '', bottom_arrow: 'bottom-stacked-arrow'}