- content_for :page_title do
	= posts_title(@tag)
= render partial: 'shared/blog/head', layout: 'shared/head'
- content_for :intro_text do
	.about-us-wrapper
		%h1 What We're About
		%p Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.Cum sociis natoque penatibus et Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing.
/ ADMIN SIGN IN OPTION
/ - if administrator_signed_in?
/ 	%p 
/ 		Logged in as
/ 		%strong= current_administrator.email
/ 	%p= link_to 'Edit profile', edit_administrator_registration_path
/ 	%p= link_to "Logout", destroy_administrator_session_path, method: :delete

/ - else
/ 	%p= link_to "Sign up", new_administrator_registration_path
/ 	%p= link_to "Login", new_administrator_session_path

/  THIS IS A GIVEN POST. EACH POST HAS IT'S OWN CONTENT
- if @posts.empty?
	%p There are no posts yet.
- else
	/ 	MAKE A POST HAPPEN. FOR EACH POST GENERATRE POST
	- @posts.each do |post|
		.post{:id => dom_id(post)}
			= render post
	
	- if more_content?
		= render 'shared/blog/archives_link'
.more-posts-wrapper
	%a{:href => ""} 
		%h2.teal More Posts