- content_for :sub_nav do
	.sub_nav_top
		%ul.sub_nav.top_half
			%li 
				%a{:href => ""} 
					%h2 Film
			%li.current-selection
				%a{:href => ""} 
					%h2 Products
			%li.right-stroke 
				%a{:href => ""} 
					%h2 Music
		%h3.float-right.suggest.product-suggest
			%a{:href => ""} SUGGEST A PROJECT
	.sub_nav_bottom
		%ul.sub_nav.bottom_half
			%li 
				%a{:href => ""} Technology
			%li.current-selection
				%a{:href => ""} Publishing
			%li.right-stroke 
				%a{:href => ""} Fashion
			%li.right-stroke 
				%a{:href => ""} Surprise