%li 
	
	- if this_service.logo? then
		%img{:src => this_service.logo(:thumb), :alt => ""}
	- else
		%img{:src => "https://d1wgd08o7gfznj.cloudfront.net/assets/logo-title-f6dc287199cb99c0a025d2ff47e4f5e6.png", :alt => ""}
	%a{:href => this_service.out_link} 
		%h3= this_service.title
	%p= this_service.description
	%a.extra-top-margin{:href => this_service.out_link} 
		%h4
			%img.message-icon.float-left{:src => "https://s3.amazonaws.com/HarnessTheCrowd/admin_uploads/icon-mail.png", :alt => ""}/
			Get In Contact
	%a{:href => this_service.out_link} VISIT THEIR WEBSITE