- content_for :head do
	= stylesheet_link_tag    "main_style"

= render 'tools/shared/subnav'
- content_for :intro_text do
	.about-us-wrapper.extra-padding
		%h1 People Are Amazing
		%p Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.Cum sociis natoque penatibus et Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing.

.resources_subsection
	%h2 Make Your Project Represent Something Bigger
	%img{:src => "http://www.handleband.com/images/gallery/gallery_1.jpg", :alt => ""}/ 
	.resource_entry
		.resource_title_wrapper
			%a{:href => ""}
				%h3 The Crowdfunding Bible
			.resource-action-items
				%h4
					%a{:href => ""}Share
					|
					%a{:href => ""}Visit
		%p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

	.resource_entry
		.resource_title_wrapper
			%a{:href => ""} 
				%h3 The Crowdfunding Bible
			.resource-action-items
				%h4
					%a{:href => ""}Share
					|
					%a{:href => ""}Visit
		%p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
	%br/ 
	.divider

	.resources_subsection
	%h2 Make Your Project Represent Something Bigger
	%img{:src => "http://www.handleband.com/images/gallery/gallery_1.jpg", :alt => ""}/ 
	.resource_entry
		.resource_title_wrapper
			%a{:href => ""} 
				%h3 The Crowdfunding Bible
			.resource-action-items
				%h4
					%a{:href => ""}Share
					|
					%a{:href => ""}Visit
		%p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

	.resource_entry
		.resource_title_wrapper
			%a{:href => ""} 
				%h3 The Crowdfunding Bible
			.resource-action-items
				%h4
					%a{:href => ""}Share
					|
					%a{:href => ""}Visit
		%p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
	%br/ 
	.divider