- content_for :head do
	= stylesheet_link_tag    "main_style"


// Sub Navigation First Row
.sub_nav_top
	%ul.sub_nav.top_half
		%li 
			%a{:href => ""} 
				%h2 Film
		%li.current-selection
			%a{:href => ""} 
				%h2 Products
		%li.right-stroke 
			%a{:href => ""} 
				%h2 Music

// Sub Navigation Second Row
.sub_nav_bottom
	%ul.sub_nav.bottom_half
		%li 
			%a{:href => ""} Technology
		%li.current-selection
			%a{:href => ""} Publishing
		%li.right-stroke 
			%a{:href => ""} Fashion
		%li.right-stroke 
			%a{:href => ""} Surprise

= @resources
resource.title
.description
.out_link
