- content_for :head do
	= stylesheet_link_tag    "main_style"

= render 'tools/shared/service_subnav'

- content_for :intro_text do
	.about-us-wrapper.extra-padding.no-heading
		%p Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.Cum sociis natoque penatibus et Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem.

.post-entry
	.three-column-wrapper.services 
		.column.first_col
			%ul 
				%li 
					%img{:src => "https://d1wgd08o7gfznj.cloudfront.net/assets/logo-title-f6dc287199cb99c0a025d2ff47e4f5e6.png", :alt => ""}/ 
					%a{:href => ""} 
						%h3 Backerkit
					%p Duis mollis, odo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					%a.extra-top-margin{:href => ""} 
						%h4
							%img.message-icon.float-left{:src => "https://s3.amazonaws.com/HarnessTheCrowd/admin_uploads/icon-mail.png", :alt => ""}/
							Get In Contact
					%a{:href => ""} VISIT THEIR WEBSITE
				%li 
					%img{:src => "https://dpao6ma8eqkx0.cloudfront.net/assets/img/celery-logo-small.png", :alt => ""}/ 
					%a{:href => ""} 
						%h3 Backerkit
					%p Duis mollis, odo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					%a.extra-top-margin{:href => ""} 
						%h4
							%img.message-icon.float-left{:src => "https://s3.amazonaws.com/HarnessTheCrowd/admin_uploads/icon-mail.png", :alt => ""}/
							Get In Contact
					%a{:href => ""} VISIT THEIR WEBSITE
		.column.second_col
			%ul 
				%li 
					%img{:src => "http://pnthr.com/wp-content/uploads/2013/07/BigPanther3.png", :alt => ""}/ 
					%a{:href => ""} 
						%h3 Backerkit
					%p Duis mollis, odo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					%a.extra-top-margin{:href => ""} 
						%h4
							%img.message-icon.float-left{:src => "https://s3.amazonaws.com/HarnessTheCrowd/admin_uploads/icon-mail.png", :alt => ""}/
							Get In Contact

					%a{:href => ""} VISIT THEIR WEBSITE
				%li 
					%img{:src => "http://crowdfundbuzz.com/img/logo/CFB_logo.png", :alt => ""}/ 
					%a{:href => ""} 
						%h3 Backerkit
					%p Duis mollis, odo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					%a.extra-top-margin{:href => ""} 
						%h4
							%img.message-icon.float-left{:src => "https://s3.amazonaws.com/HarnessTheCrowd/admin_uploads/icon-mail.png", :alt => ""}/
							Get In Contact

					%a{:href => ""} VISIT THEIR WEBSITE
		.column.third_col
			%ul 
				%li 
					%img{:src => "http://videogogo.com/wp-content/uploads/2012/11/web5.png", :alt => ""}/ 
					%a{:href => ""} 
						%h3 Backerkit
					%p Duis mollis, odo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					%a.extra-top-margin{:href => ""} 
						%h4
							%img.message-icon.float-left{:src => "https://s3.amazonaws.com/HarnessTheCrowd/admin_uploads/icon-mail.png", :alt => ""}/
							Get In Contact

					%a{:href => ""} VISIT THEIR WEBSITE
				%li 
					%img{:src => "http://cdn.blu-raydefinition.com/wordpress/wp-content/uploads/2009/03/logo_acutrack.gif", :alt => ""}/ 
					%a{:href => ""} 
						%h3 Backerakit
					%p Duis mollis, odo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. 
					%a.extra-top-margin{:href => ""} 
						%h4
							%img.message-icon.float-left{:src => "https://s3.amazonaws.com/HarnessTheCrowd/admin_uploads/icon-mail.png", :alt => ""}/
							Get In Contact

					%a{:href => ""} VISIT THEIR WEBSITE