- content_for :page_title do
	= raw "About Us | "
= render 'shared/head'
.post-entry#homepage
	.divider
	%h1.teal#home-title A Place To Share & Discover Crowdfunding Tools
	.bottom-divider.divider
	.blog_post_main_image
		%a{:href => ""} 
			%iframe#homepage-main-video{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/72777118", :webkitallowfullscreen => ""}

	%br/ 
	%br/ 
	.divider
	%br/ 

	.entry-description
		%h2.all-caps		
			People Can Do Incredible Things
			%br/ 
			When United By Good Ideas
		%p 
			<a href="http://en.wikipedia.org/wiki/Crowdfunding">Crowdfunding</a> is redefining the way we bring our ideas to life. <span>Our goal is to make the process just a little easier</span>.  
		%p 
			With resources to learn about the industry, tools to run your own campaign, and a meeting place to get thoughts and feedback, <span>Harness the Crowd is an incredible tool for people trying to realize their ideas.</span>
			If you're thinking about launching a project, know someone who plans to crowdfund, or just <span> want to help good ideas succeed</span>, take a look at the site, share some advice, or pass the link to a friend. 
		%p 
			<span class="important">We're really excited to make this happen, and hope to have you onboard.</span> 
		.divider.half-opacity
		%br/ 

	
		%img.center_img{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/garage.JPG", :alt => ""}/ 
		%h2.all-caps		
			The BoCo Team
		%p We like to think that everyone who supports crowdfunding is part of the Harness the Crowd team. That said, if you're jonesing to find the dev team who's been working full time to make this site run, you need look no further than downtown Boulder, Colorado. Look for a green garage on The Hill, and that's where you'll find us.
	

.about-us-page


	.post-entry
		.three-column-wrapper.services.about-entry 
			.column.first_col
				%ul 
					%li 
						%img{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/danh-aboutus.png", :alt => ""}/ 
						%a{:href => ""} 
							%h3 DANIEL HAARBURGER
						%p As an infant, Daniel was found in a small manger in the middle of the Siberian tundra, filled with servos and scrap metal. Though not old enough to speak or crawl, he could deftly operate a manual mill. Since then, Daniel studied engineering at Stanford and has completed two successful Kickstarter campaigns for the Wingstand and The Handleband.

			.column.second_col
				%ul 
					%li 
						%img{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/dant-aboutus.jpg", :alt => ""}/ 
						%a{:href => ""} 
							%h3 DAN THOMPSON
						%p Dan is an aspiring l33t h4x05 (elite hacker): he is very familiar with the World Wide Web and punch cards, and once successfully installed Microsoft Vista on his mother's computer. He recently graduated from Stanford with a degree in computer science and has a background in finance and web development.
			.column.third_col
				%ul 
					%li 
						%img{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/greg-aboutus.jpg", :alt => ""}/ 
						%a{:href => ""} 
							%h3 GREG LYON
						%p Greg met The Dans in Boulder and jumped at the opportunity to work with them to build a better crowdfunding community when he found out they lived in The Banana Manor. With consulting and technology experience in both enterprise and startup settings, Greg is an expert at both scheduling and cancelling meetings.

	%a.center-align{:href => "mailto:info@harnessthecrowd.com"}
		%h4 WANT TO REACH US?  SHOOT US AN EMAIL 
