- content_for :page_title do
	= raw "About Us | "
- content_for :head do
	= stylesheet_link_tag    "main_style"

.service-entry-page
	.top-content-wrapper
		.width-30.float-left
			%img.center_img{:src => "http://s3.amazonaws.com/harnessthecrowd/development_assets/services/logos/000/000/005/thumb/backerkit.jpg?1377898602", :alt => ""}/
			%h1.teal BackerKit

		
		%p.width-60.float-right With Celery, you can accept pre-orders whenever you're ready, making it the easiest way to collect credit cards now and charge them later.

	.resource-link-wrapper
		%a.float-left{:href => "mailto:info@harnessthecrowd.com"}
			%h4 << Marketing & PR Services

		%a.float-right{:href => "mailto:info@harnessthecrowd.com"}
			%h4  &#124; Visit Their Site >>
		%a.float-right#send-message-link{:href => "mailto:info@harnessthecrowd.com"}
			%h4 Send Them A Message