- content_for :page_title do
	= raw "Ebook | "
- content_for :head do
	= stylesheet_link_tag    "main_style"



/ %h1.teal A Place To Share & Discover Crowdfunding Tools

.ebook-entry
	%br/ 
	%br/ 
	%img.width-60.float-left.rpadding-5{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/garage.JPG", :alt => ""}/ 
	.width-30.float-left.left-align
		%h2 HARNESS THE CROWD <span id="ebook-thin">(eBook)</span>
		%p Crowdfunding is a big process. From conceptualizing your idea, to lining up press, to launching your campaign, to fulfillment once it's over, there's a lot to do.
		%p Harness the Crowd provides a roadmap that explains what to do, when to do it, and how to be successful. 
		.button-wrapper

			%a.float-left.button.gray-button{:href => ""} Preview!

			%a.float-left.button.blue-button{:href => ""} Get It!
	%br/ 
.bottom-divider.divider.width-60
	%br/ 
.width-80.ebook-details
	%br/ 
	%h2.all-caps.center-align
		People Can Do Incredible Things
		%br/ 
		When United By Good Ideas
	%p Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui.

	%p Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor .

	.img-pair
		%img.float-left{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/garage.JPG", :alt => ""}/	
		%img.float-right{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/garage.JPG", :alt => ""}/	
	
	%p Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui.

	%img.page-sample{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/garage.JPG", :alt => ""}/	

%br/ 
%br/ 
%a.ebook-bottom-button.button.blue-button{:href => ""}Purchase the Ebook 
%br/ 
