- content_for :page_title do
	= raw "Ebook | "
= render partial: 'ebook_page_head', layout: 'shared/head'



/ %h1.teal A Place To Share & Discover Crowdfunding Tools

.ebook-header-wrapper
	/ %a.test{:href => ""} 
	%a.ebook-header-left.float-left.width-50.ebook-header#ebook-left-button 
		%h4.width-50 A Practical Guide To Crowdfunding
	%a.ebook-header-right.float-right.width-50.ebook-header#ebook-right-button
		%h4.width-50.top-nudge A Kit To Save You Time
.centered-logo-wrapper
	%img#centered-logo{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/we-wanna-hear.png", :alt => ""}/ 

	/ %img#centered-logo{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/gray-logo.png", :alt => ""}/

// Attention Getter 
.attention-getter
	.ebook-entry
		%br/ 
		%br/ 
		/ %img.width-45.float-right.lpadding-5{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/desk.png", :alt => ""}/ 
		/ .width-45.float-left.left-align
		.quote-wrapper.width-80	

			.individual-quote-wrapper
				%h3.notable-quote.width-70.float-left “<span class="quote-emphasis" id="qe-1">Informative</span> even for those who are intimately familiar with raising cash online.”<br> <span class="quote-caption"> - CrowdSourcing.org</span>
			.individual-quote-wrapper
				%h3.notable-quote.right-align.width-70.float-right “A <span class="quote-emphasis" id="qe-2">one-stop shop</span> for those looking to fund an idea through crowdfunding.” <br><span class="quote-caption"> - The Denver Post </span>
			.individual-quote-wrapper
				%h3.notable-quote.width-80.float-left "If you’re planning a campaign, Harness the Crowd is hands down <span class="quote-emphasis" id="qe-3">the best place to start.</span>" <br><span class="quote-caption"> - Crowdfund Insider </span>

		

.gray-divider

.gray-divider



// Ebook
.ebook-entry#ebook-section
	%br/ 
	%br/ 
	%img.width-45.float-left.rpadding-5{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/harness-ipad-2.jpg", :alt => ""}/ 
	.width-45.float-right.left-align
		%h2 HARNESS THE CROWD <span class="blue-subtext"></span> <br/><span id="ebook-thin">A Practical Guide To Crowdfunding</span>
		%p Crowdfunding is a big process. From crafting your idea, to lining up press, to launching your campaign, there's a lot to think about.

		%p Harness the Crowd provides <span class="bold-blue">a roadmap for what to do</span> and when to do it. It pulls from dozens of effective campaigns to build a framework for success. If you're thinking about crowdfunding an idea, Harness The Crowd will give you a  solid head start.
		.button-wrapper

			%a.float-left.button.gray-button#preview_button{:href => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/htc-preview.pdf", target: '_blank'} Preview!

			%a.float-left.button.blue-button.dpdcart.iframe{:href => "https://harnessthecrowd.dpdcart.com/cart/add?product_id=64900&amp;method_id=66768", target: '_top'} Get It!

	/ .ebook-sample
	/ 	%img.page-sample.width-70{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/book_page_5.png", :alt => ""}/

		
	/ 	%img.page-sample.width-70{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/book_page_4.png", :alt => ""}/

%br
%br/ 
%hr


// Kit 
.ebook-entry#kit-section
	%br/ 
	%br/ 
	%img.width-45.float-right.lpadding-5{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/kit-v2.png", :alt => ""}/ 
	.width-45.float-left.left-align
		%h2 CROWDKIT    <span class="blue-subtext">eBook + Toolkit</span> <br/><span id="ebook-thin">Tools To Run A Successful Campaign</span>
		%p Let us save you time. Aggregating work from dozens of successful campaigns, Crowdkit<span class="bold-blue"> vastly streamlines the campaign process</span>. From outreach templates for managing PR, to fulfillment tables, to scaffolding for your campaign content, to HTML forms to improve backer engagement, we've developed the best tools to help you succeed. 

		%p This kit will save you dozens of hours of work, and save you from common mistakes when starting your first campaign. <span class="bold-blue">It also includes the Harness the Crowd eBook</span>, as a reference for when you launch your campaign. To get up to speed fast, click the link below.
		.button-wrapper

			/ %a.float-left.button.gray-button{:href => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/htc-preview.pdf", target: '_blank'} Preview!

			%a.float-left.button.blue-button{:href => "/kit-temp"} Buy the Kit

/ /////////////// BLUE SECTION //////////////////////

#ebook-page-preview.ebook-details.background-color-blue
	%br/ 
	%h2.all-caps.center-align What's Inside The Ebook?
	%br/ 



	/ <iframe id="ebook-preview" src="http://docs.google.com/viewer?url=https%3A%2F%2Fs3.amazonaws.com%2Fharnessthecrowd%2Fadmin_uploads%2FHTC_EB_PREVIEW.pdf&embedded=true" width="600" height="700" style="border: none;"></iframe>



	%img.page-sample{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/about-the-book.png", :alt => ""}/
	%br/ 
	%br/ 
	%br/ 
	.width-70
		%p Harness the Crowd is a fieldguide to help you navigate the often complex process of running a crowdfunding campaign. It is divided into ten main chapters that together explain the entire crowdfunding process.

		%p Along the way, each chapter offers its own insights, while also connecting you to a pre-selected set of tools and resources. Our goal is to create a springboard so that by the time you press go, you will know exactly what to do, how to do it, and be ready to run an incredibly successful crowdfunding campaign. 

	%br/ 
	%br/ 
	%br/ 
	%hr.width-80.half-opacity
	%br/ 
	%br/ 
	%h2.all-caps.center-align Here's What It Looks Like

	%img.page-sample.width-70{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/book_page_5.png", :alt => ""}/

	
	%img.page-sample.width-70{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/book_page_4.png", :alt => ""}/

	%img.page-sample.width-70{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/book_page_3.png", :alt => ""}/



	%br/ 
	%br/ 
	%br/ 
	%hr.width-80.half-opacity
	%br/ 
	%br/ 
	#white-get-it-wrapper.width-70.center-align
		%a#white-get-it.button.blue-button.dpdcart.iframe{:href => "https://harnessthecrowd.dpdcart.com/cart/add?product_id=64900&amp;method_id=66768", target: '_top'} Get It!
	%br/

/ /////////////////////// END BLUE //////////////////




.width-80.ebook-details
	%br/ 
	%br/ 
	%h2.all-caps.center-align#gray-title
		People Can Do Incredible Things
		%br/ 
		When United By Good Ideas


	%img.page-sample{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/ebook-graphic-2.png", :alt => ""}/	

	%p Never before has it been so easy to raise so much money, involve so many people, and bring your idea to life. Crowdfunding - the collective effort across a group to make a particular idea a reality - is taking the world by storm. In 2011, entrepreneurs raised over $1.5 Billion to make their ideas a reality. This year, that number is expected to grow to $5.1 Billion.

	%p It's too early to tell if crowdfunding  will be the way of the future, or if it will evolve into something completely different. But for now, one thing is certain. If you’re trying to realize a dream or see an idea become reality, it is a powerful tool at your disposal. <span class="teal fat"> We're here to help you through the process.</span>

	%img.page-sample{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/ebook-graphic-3.png", :alt => ""}/	
	
	%p Crowdfunding can seem like a daunting task, especially if you've never run a campaign before, but it doesn't have to be. There is lots to do, and there are lots of lessons you will learn as you do it. If the massive success of Kickstarter and Indiegogo has shown anything, however, it's that people want to help good ideas succeed. Anyone - even you - can bring your dreams to life. We're here to help you get there.


%br/ 
%br/ 
%br/ 
%a.ebook-bottom-button.button.blue-button.dpdcart.iframe{:href => "https://harnessthecrowd.dpdcart.com/cart/add?product_id=64900&amp;method_id=66768", target: '_top'}Buy the Ebook 



<script type="text/javascript" src="https://getdpd.com/js/cart.js"></script>

