- content_for :page_title do
	= raw "Ebook | "
- content_for :head do
	= stylesheet_link_tag    "main_style"



/ %h1.teal A Place To Share & Discover Crowdfunding Tools

.ebook-entry
	%br/ 
	%br/ 
	%img.width-60.float-left.rpadding-5{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/ebook-graphic.png", :alt => ""}/ 
	.width-30.float-left.left-align
		%h2 HARNESS THE CROWD <span id="ebook-thin">(eBook)</span>
		%p Crowdfunding is a big process. From conceptualizing your idea, to lining up press, to launching your campaign, to fulfillment once it's over, there's a lot to do.
		%p Harness the Crowd provides a roadmap that explains what to do, when to do it, and how to be successful. 
		.button-wrapper

			%a.float-left.button.gray-button{:href => ""} Preview!

			%a.float-left.button.blue-button{:href => ""} Get It!
	%br/ 
.bottom-divider.divider.width-60
	%br/ 
.width-80.ebook-details
	%br/ 
	%h2.all-caps.center-align
		People Can Do Incredible Things
		%br/ 
		When United By Good Ideas

	%p Never before has it been so easy to raise so much money, involve so many people, and bring your idea to life. Crowdfunding - the collective effort across a group to make a particular idea a reality - is taking the world by storm. In 2011, entrepreneurs raised over $1.5 Billion to make their ideas a reality. This year, that number is expected to grow to $5.1 Billion.

	%p It's too early to tell if crowdfunding  will be the way of the future, or if it will evolve into something completely different. But for now, one thing is certain. If you’re trying to realize a dream or see an idea become reality, it is a powerful tool at your disposal. <span class="teal fat"> We're here to help you through the process.</span>


	%img.page-sample{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/ebook-graphic-2.png", :alt => ""}/	
 
	%p Harness the Crowd is a fieldguide to help you navigate the often complex process of running a crowdfunding campaign. It is divided into ten main chapters that together explain the entire crowdfunding process.

	%p Along the way, each chapter offers its own insights, while also connecting you to a pre-selected set of tools and resources. Our goal is to create a springboard so that by the time you press go, you will know exactly what to do, how to do it, and be ready to run an incredibly successful crowdfunding campaign. 
	

	.img-pair
		%img.float-left{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/preview-1.png", :alt => ""}/	
		%img.float-right{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/preview-0.png", :alt => ""}/	
	
	%p Crowdfunding can seem like a daunting task, especially if you've never run a campaign before, but it doesn't have to be. There is lots to do, and there are lots of lessons you will learn as you do it. If the massive success of Kickstarter and Indiegogo has shown anything, however, it's that people want to help good ideas succeed. Anyone - even you - can bring your dreams to life. We're here to help you get there.

%br/ 
%br/ 
%a.ebook-bottom-button.button.blue-button{:href => ""}Purchase the Ebook 
%br/ 
