- content_for :page_title do
	= raw "How to Crowdfund, Resources, & Tools for Kickstarter, Indiegogo | "
- content_for :head do
	= stylesheet_link_tag    "main_style"


.post-entry#homepage
	.divider
	%h1.teal#home-title A Place To Share & Discover Crowdfunding Tools
	.bottom-divider.divider
	.blog_post_main_image
		%a{:href => ""} 
			%iframe#homepage-main-video{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/72777118", :webkitallowfullscreen => ""}

	%br/ 
	%br/ 
	.divider
	%br/ 

	.entry-description
		%h2.all-caps		
			People Can Do Incredible Things
			%br/ 
			When United By Good Ideas
		%p 
			<a href="http://en.wikipedia.org/wiki/Crowdfunding">Crowdfunding</a> is redefining the way we bring our ideas to life. <span>Our goal is to make the process just a little easier</span>.  
		%p 
			With resources to learn about the industry, tools to run your own campaign, and a meeting place to get thoughts and feedback, <span>Harness the Crowd is an incredible tool for people trying to realize their ideas.</span>
			If you're thinking about launching a project, know someone who plans to crowdfund, or just <span> want to help good ideas succeed</span>, take a look at the site, share some advice, or pass the link to a friend. 
		%p 
			<span class="important">We're really excited to make this happen, and hope to have you onboard.</span> 
		.divider.half-opacity
	

	

