- content_for :head do
	= stylesheet_link_tag    "main_style"


.post-entry#homepage
	%h1		
		Welcome Home

	.entry-description
		/ %p 
		/ 	<span>Crowdfunding is reinventing the way we realize our ideas.</span> No longer do you have to sacrifice ownership of your company or put your neck on the line to inspire change, because today an entire community has come together to make good ideas succeed.

		/ %p
		/ 	Harness the Crowd is a tool to make crowdfunding even more accessible. With resources that help individuals learn, tools to run their own campaigns, and a meeting grounds where anyone can get thoughts and feedback from like minded individuals, <span> our goal is to make the process just a little bit simpler. </span>

		/ %p
		/ 	Crowdfunding is about community, and we believe anyone should be able to make their ideas a reality. <span> That's what Harness the Crowd is all about.</span>

		%h4.center-align
			People Can Do Incredible Things When United By Good Ideas.

		.divider

		%p 

			<span>Everyone has that one idea they'd love to bring to life</span>, but few of us know where to start. We created Harness the Crowd to help people realize their ideas with the help of the others.
		%p 
			If you don't know about <a href="http://en.wikipedia.org/wiki/Crowdfunding">Crowdfunding</a>, it is a new model that is redefining the way we bring our ideas to life. <span>Our goal is to make the process just a little easier</span>, so anyone can use crowdfunding as a means of creation. 
		%p 
			With resources to learn about the industry, tools to run your own campaign, and a meeting grounds to get thoughts and feedback, we've put a ton of working into building this toolkit.
		%p

			But crowdfunding is about community, and <span class="important">we cant do this alone.</span>
		%p 
			If you're thinking about launching a project, know someone who plans to crowdfund, or just want to <span>help good ideas succeed</span>, take a look at the site, share some advice, or pass the link to a friend. 
		%p 
			<span class="important">We're really excited to make this happen, and hope to have you onboard.</span> 
		.divider.half-opacity
	.blog_post_main_image
		%a{:href => ""} 
			%iframe{:allowfullscreen => "", :frameborder => "0", :height => "425", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/68646939", :webkitallowfullscreen => "", :width => "700"}
			


	

