- content_for :head do
	= stylesheet_link_tag    "main_style"

.about-us-page.press-page
	.top-content-wrapper

		%img.center_img{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/press-img.png", :alt => ""}/ 
		%h1.teal Tools For Everyone

		%p Crowdfunding is universal. There are so many great ideas out there, and so many people who are eager to make them happen.

		%p Help us spread the word, and empower everyone to bring their dreams to life. We've attached a short press release below with information you may find useful. Also feel free to contact us anytime. We're happy to answer any questions you may have, share insights we've discovered, or just let you know what's going on in the world of crowdfunding. 

	%br/ 


	%a.center-align.full-opacity{:href => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/Harness_The_Crowd_Release.pdf"}
		%h4 DOWNLOAD THE PRESS RELEASE

	%br/ 

	%a.center-align.teal{:href => "mailto:greg@harnessthecrowd.com"}
		%h4.full-opacity SHOOT US AN EMAIL 

