= render 'shared/head'

- content_for :intro_text do
	.about-us-wrapper.extra-padding.no-heading
		%p Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.Cum sociis natoque penatibus et Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem.



test