= render 'shared/head'

- content_for :intro_text do
	/ .about-us-wrapper.extra-padding.no-heading
	/ 	%p Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.Cum sociis natoque penatibus et Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem.


#discussion-board
	%br/ 
	.submit-form.submit-comment
		%textarea#discussion-comment.float-left.form-control{:name => "", :cols => "30", :rows => "10"} 
		%button.btn.gray-button.float-right.center-align Share Your Thoughts
	%br/ 
	
	.discussion-entry
		.divider
		%br/ 
		%p Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.Etiam porta sem malesuada magna mollis euismod. Donec sed odio. 
		%h3.teal.float-right - Duane Pipe
		%ul.action-items.float-left
			%li 
				%a{:href => ""}Reply 
			%li.pipe 
				%a &#124
			%li 
				%a{:href => ""}Show Comments 
		%br/  

		.discussion-entry-mini
			.divider
			%br/ 
			%p Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.Etiam porta sem malesuada magna mollis euismod. Donec sed odio. 
			%h3.teal.float-right - Duane Pipe

		.discussion-entry-mini
			.divider
			%br/ 
			%p Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.Etiam porta sem malesuada magna mollis euismod. Donec sed odio. 
			%h3.teal.float-right - Duane Pipe
		
		/ Post reply div
		.discussion-entry-mini
			.divider
			.submit-form.submit-comment
				%textarea#discussion-comment.float-left.form-control{:name => "", :cols => "30", :rows => "10"} 
				%button.btn.gray-button.float-right.center-align Post Reply


	.discussion-entry
		.divider
		%br/ 
		%p Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.Etiam porta sem malesuada magna mollis euismod. Donec sed odio. 
		%h3.teal.float-right - Duane Pipe
		%ul.action-items.float-left
			%li 
				%a{:href => ""}Reply 
			%li.pipe 
				%a &#124
			%li 
				%a{:href => ""}Show Comments 
		%br/  

	.discussion-entry
		.divider
		%br/ 
		%p Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.Etiam porta sem malesuada magna mollis euismod. Donec sed odio. 
		%h3.teal.float-right - Duane Pipe
		%ul.action-items.float-left
			%li 
				%a{:href => ""}Reply 
			%li.pipe 
				%a &#124
			%li 
				%a{:href => ""}Show Comments 
		%br/  

		