- content_for :sub_nav do
	.sub_nav_top
		%ul.sub_nav.top_half
			%li.current-selection 
				%a{:href => "./resources"} 
					%h2 Resources
			%li
				%a{:href => "./services"} 
					%h2 Services
		%h3.float-left.suggest
			%a{:href => ""} SUGGEST A RESOURCE
	.sub_nav_bottom
		%ul.sub_nav.bottom_half
			%li 
				%a{:href => ""} Technology
			%li.current-selection
				%a{:href => ""} Publishing
			%li.right-stroke 
				%a{:href => ""} Fashion
			%li.right-stroke 
				%a{:href => ""} Surprise